<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bighouse.mapper.MyFriendsMapper">
  <resultMap id="BaseResultMap" type="com.bighouse.pojo.MyFriends">
    <id column="id" property="id" jdbcType="VARCHAR"/>
    <result column="my_user_id" property="myUserId" jdbcType="VARCHAR"/>
    <result column="my_friend_user_id" property="myFriendUserId" jdbcType="VARCHAR"/>
  </resultMap>

  <select id="selectAll" resultMap="BaseResultMap">
        SELECT
            id,
            my_user_id,
            my_friend_user_id
        FROM my_friends
    </select>

  <select id="getMyFriendIds" resultType="String">
        SELECT
            my_friend_user_id
        FROM
            my_friends
        WHERE
            my_user_id = #{userId}
    </select>
</mapper>